/* Estilos generales */

*{
    
    font-family: 'Inter';
    font-weight: 400;
    line-height: 150%;
    overflow-y: hidden;
    margin: 0; 
    padding: 0
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 251, 244);
    margin: 0;
    padding: 0;
    background: #000;
}

canvas {
    display: block;
    height: 600px;
    width: 2000px;
}

/* Estilos para el header */
header {
    background-color: #22211f;
    padding: 40px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: wheat;
    font-size: 54px;
}

/* Estilos para el main */
main {
    display: flex;
    
}

section {
    flex-basis: 50%;
    padding: 30px;
    background-color: #22211f;
    border-radius: 7px;
    box-shadow: 2px 2px 10px 5px rgb(141, 138, 138);
    margin: 20px;
    margin-top: 70px;
}

section .secciones{
    position: relative;
}

.secciones .reset{
    position: absolute; 
    top: 227px; 
    left: calc(48.7% + 5px); /* Alineamos el botón con el primer textarea */
}

/* Estilos para los textareas */
.text-area, .mensaje {
    background-color: rgb(205, 213, 255);
    width: 100%;
    height: 300px;
    padding: -4px;
    font-size: 18px;
    border-radius: 7px;
    border: none;
    box-shadow: 4px 4px 5px #ccc;
    resize: none;
}

.text-area::placeholder{
    font-size: 24px;
}

.mensaje{
    background-image: url("./img/encriptado-de-datos.png");
    background-repeat: no-repeat;
    background-position: center;
}

.informacion{
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
}



/* Estilos para los botones */
.botones button{
    background-color: #3c6e3d;
    color: white;
    padding: 14px 20px;
    margin: 8px 40px;
    border: none;
    cursor: pointer;
    width: 40%;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
}

.botones button:hover {
    background-color: #335a34;
}

/* Estilos para los botones "copiar" y "pegar" */
.copiar, .pegar {
    background-color: #4c5baf; 
    color: white;
    padding: 14px 20px;
    margin: 14px auto; 
    display: block; 
    border: none;
    cursor: pointer;
    width: 40%;
    font-weight: bold;
    text-align: center;
    border-radius: 7px;
}

.copiar:hover, .pegar:hover {
    background-color: #454ea0; 
}

.reset{
    border: none;
    padding: 3px;
    background-color: #22211f;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    width: 38px;
    border-radius: 7px;
    box-shadow: 0px -2px 10px 2px rgb(141, 138, 138);
}

.reset:hover{
    transform: scale(1.1);
    
}

/* Estilos para los datos */
#datos {
    background-color: #22211f;
    padding: 60px;
    margin: auto;
    text-align: center;
    
}

#datos h5 {
    font-size: 18px;
    color: wheat;
}

#img-linkedin{
    padding-left: 5px;
    vertical-align: middle;
}


/* Estilos para responsive*/

/* Estilos para celulares */
@media screen and (max-width: 767px) {
    header {
        padding: 2px;
        text-align: center;
    }
    
    header h1 {
        margin: 0;
        color: wheat;
        font-size: 36px;
    }

    main {
        display: block;
        
    }

    section {
        flex-basis: 50%;
        padding: 10px;
        background-color: #22211f;
        border-radius: 7px;
        box-shadow: 2px 2px 10px 5px rgb(141, 138, 138);
        margin: 7px;
        margin-top: 30px;
    }

    .secciones .reset{
        position: absolute; 
        top: 227px; 
        left: calc(48.7% + 5px); 
    }
    
    /* Estilos para los textareas */
    .text-area, .mensaje {
        background-color: rgb(205, 213, 255);
        width: 90%;
        height: 100px;
        padding: 2px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        box-shadow: 4px 4px 5px #ccc;
        resize: none;
    }
    
    .text-area::placeholder{
        font-size: 18px;
    }

    .informacion{
        font-size: 8px;
    
    }
    
    /* Estilos para los botones */
    .botones button{
        display: inline;
        background-color: #3c6e3d;
        color: white;
        padding: 10px 190px;
        margin: 4px -40px 0px;
        border: none;
        cursor: pointer;
        width: 5%;
        font-weight: bold;
        text-align: center;
        border-radius: 7px;
    }
    
    .botones button:hover {
        background-color: #335a34;
    }
    
    /* Estilos para los botones "copiar" y "pegar" */
    .copiar, .pegar {
        background-color: #4c5baf; /* color verde */
        color: white;
        padding: 10px 10px;
        margin: 14px auto; /* Centramos el elemento */
        display: block; /* Hacemos que ocupe todo el ancho del contenedor */
        border: none;
        cursor: pointer;
        width: 30%;
        font-weight: bold;
        text-align: center;
        border-radius: 7px;
    }
    
    .copiar:hover, .pegar:hover {
        background-color: #454ea0; /* color verde oscuro */
    }
    
        .secciones .reset{
        position: absolute; 
        top: 225px; 
        left: calc(48.7% + 150px); /* Alineamos el botón con el primer textarea */
    }

    .reset{
        border: none;
        padding: 3px;
        background-color: #22211f;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        width: 38px;
        border-radius: 7px;
        box-shadow: 0px -2px 10px 2px rgb(141, 138, 138);
    }

    /* Estilos para el footer */
#datos {
    background-color: #22211f;
    padding: 20px;
    margin: auto;
    text-align: center;
    
}

#datos h5 {
    font-size: 14px;
    color: wheat;
}

#img-linkedin{
    padding-left: 5px;
    vertical-align: middle;
}

.mensaje{
    background-image: url("./img/encriptado-de-datos\ mobile.png");
    background-repeat: no-repeat;
    background-position: center;
}

}

/* Estilos para tabletas */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    header {
        padding: 2px;
        text-align: center;
    }
    
    header h1 {
        margin: 0;
        color: wheat;
        font-size: 36px;
    }

    main {
        display: block;
        
    }

    section {
        flex-basis: 50%;
        padding: 10px;
        background-color: #22211f;
        border-radius: 7px;
        box-shadow: 2px 2px 10px 5px rgb(141, 138, 138);
        margin: 7px;
        margin-top: 30px;
    }

    .secciones .reset{
        position: absolute; 
        top: 227px; 
        left: calc(48.7% + 5px); 
    }
    
    /* Estilos para los textareas */
    .text-area, .mensaje {
        background-color: rgb(205, 213, 255);
        width: 90%;
        height: 100px;
        padding: 2px;
        font-size: 14px;
        border-radius: 5px;
        border: none;
        box-shadow: 4px 4px 5px #ccc;
        resize: none;
    }
    
    .text-area::placeholder{
        font-size: 18px;
    }

    .informacion{
        font-size: 8px;
    
    }
    
    /* Estilos para los botones */
    .botones button{
        display: block;
        background-color: #3c6e3d;
        color: white;
        padding: 10px 190px;
        margin: 4px auto;
        border: none;
        cursor: pointer;
        width: 5%;
        font-weight: bold;
        text-align: center;
        border-radius: 7px;
    }
    
    .botones button:hover {
        background-color: #335a34;
    }
    
    /* Estilos para los botones "copiar" y "pegar" */
    .copiar, .pegar {
        background-color: #4c5baf; /* color verde */
        color: white;
        padding: 10px 10px;
        margin: 14px auto; /* Centramos el elemento */
        display: block; /* Hacemos que ocupe todo el ancho del contenedor */
        border: none;
        cursor: pointer;
        width: 30%;
        font-weight: bold;
        text-align: center;
        border-radius: 7px;
    }
    
    .copiar:hover, .pegar:hover {
        background-color: #454ea0; /* color verde oscuro */
    }
    
        .secciones .reset{
            position: absolute; 
            top: 225px; 
            left: calc(48.7% + 150px); /* Alineamos el botón con el primer textarea */
    }

    .reset{
        border: none;
        padding: 3px;
        background-color: #22211f;
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        width: 38px;
        border-radius: 7px;
        box-shadow: 0px -2px 10px 2px rgb(141, 138, 138);
    }

    /* Estilos para el footer */
#datos {
    background-color: #22211f;
    padding: 20px;
    margin: auto;
    text-align: center;
    
}

#datos h5 {
    font-size: 14px;
    color: wheat;
}

#img-linkedin{
    padding-left: 5px;
    vertical-align: middle;
}

.mensaje{
    background-image: url("./img/encriptado-de-datos\ mobile.png");
    background-repeat: no-repeat;
    background-position: center;
}

}